<div class="col s12 m6 l4">
  <div id="official-<%- model.Person.uniqueId %>" class="card">
    <div class="card-content">
      <span class="card-title"><%- model.Person.name %></span>
      <span class="card-subtitle">
        <% if (model.isElec) { %>
          <%- model.mainOrg %><br><%- model.mainPos %>
        <% } else { %>
          <%- model.Position[model.Position.length - 1].title.split(' ')[0] %><br />
          <%- model.Position[model.Position.length - 1].title.split(' ')[2] ? model.Position[model.Position.length - 1].title.split(' ')[1] + ' ' + model.Position[model.Position.length - 1].title.split(' ')[2] : model.Position[model.Position.length - 1].title.split(' ')[1] %>
        <% } %>
      </span>
    </div>
    <div class="card-action">
        <% model.Position.forEach(function(p) {%>
          <li class='position'><%- p.title %><span class='year'><% for (var y in p.year) { %> <%- p.year[y] + ' ' %> <% } %></span></li>
        <% }) %>
      <span class="card-link-to-btn">
      <a class="btn btn-floating color-news">
        <img src="/img/arrow.png" alt="arrow-right" />
      </a>
      </span>
    </div>
  </div>
</div>
