<section id="page-official">
  <div class="row">
    <button id="test" type="">test</button>
  </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><%- official.person.name %></span>
                    <span class="card-subtitle"><%- official.position[official.position.length - 1].title %></span>
                </div>
                <div class="card-action">
                    <div class="row official-total">
                        <h5><li>재산 총액</li></h5>
                        <span id="official-asset-total" class="value"><%- official.assets.history[official.latestYear].totalText %>원</span>
                    </div>
                    <div class="row official-history">
                        <h5><li>재산 변동 이력</li></h5>
                        <div class="official-bar-chart" style="width: 100%">
                            <canvas id="canvas-bar" height="250" width="350"></canvas>
                        </div>
                        <div class="official-pie-chart" style="width: 100%">
                            <h6>포트폴리오</h6>
                            <canvas id="canvas-pie" height="350" width="350"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <h5><li>경력</li></h5>
                        <ul>
                        <% for (var p in official.position) { %>
                            <li>- <%- official.position[p].year %>년 <%- official.position[p].Org3.title %> <%- official.position[p].title %></li>
                        <% } %>
                        </ul>
                    </div>
                    <div class="row">
                      <h5><li>원본 보기</li></h5>
                      <ul>
                      <% for (var p in official.position) { %>
                        <li><a href="#">- <%- official.position[p].year %>년</a></li>
                      <% } %>
                      </ul>
                    </div>
                    <div class="row">
                      <div class="col s12 m6 offset-m3">
                          <button class="btn waves-effect color-news" type="button">제보하기</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
