<div class="row">
    <h3><%= official[0].Person.name %></h3>
</div>
<div class="row">
    <div style="width: 50%">
        <canvas id="canvas" height="450" width="600"></canvas>
    </div>
</div>

<div class="row">
<% Object.keys(official).forEach(function(o) { %>
    <p><%- o %></p>
    <h4><%- official[o].year %>년</h4>

    <% for (var a in official[o].Assets) { %>
        <p><%- official[o].Assets[a]['Cat_2']['Cat_1'].title %></p>
        <p><%- official[o].Assets[a]['Cat_2'].title %></p>
        <p><%- official[o].Assets[a].total %></p>
    <% } %>
<% }) %>
</div>
